.main-menu-container{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 2;
    background: #FFFFFF;
    width: 99vw;
    height: 52px;
    .main-menu{    
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        div{
            padding: 10px 2px;
            i.fa{
                font-size: 36px;
                color: #333333;
                border: 2px solid transparent;
                &:hover{
                    color: $brand-color;
                }
            }
            .fa-circle-small {
                font-size: 10px !important;
            }
            .fa-circle-medium {
                font-size: 20px !important;
            }        
            .fa-circle-big {
                font-size: 30px !important;
            }
            .fa-circle {
                &:hover{
                    transform: scale(1.5);                
                    border-radius: 24px;
                }
            }
            .active{
                transform: scale(1.5);                
                border-radius: 24px;
            }
            .black{
                color: #000000 !important;
                &:hover{
                    color: #000000 !important;
                }
            }
            .green{
                color: #00FF00 !important;
                &:hover{
                    color: #00FF00 !important;
                }
            }
            .red{
                color: #FF0000 !important; 
                &:hover{
                    color: #FF0000 !important;
                }
            }
            .blue{
                color: #0000FF !important;
                &:hover{
                    color: #0000FF !important;
                }
            }
            .cyan{
                color: #009999 !important;
                &:hover{
                    color: #009999 !important;
                }
            }
            .orang{
                color: #ff6600 !important;
                &:hover{
                    color: #ff6600 !important;
                }
            }
            .yellow{
                color: #FFFF00 !important;
                &:hover{
                    color: #FFFF00 !important;
                }
            }
            .paper-white-icon{
                border: 1px solid #cccccc;
                width: 30px;
                height: 30px;
                display: inline-block;
            }
            .paper-ruled-icon{
                width: 30px;
                height: 30px;
                display: inline-block;
                background: transparent url('../images/ruled-icon.svg') no-repeat center center;
            }
            .paper-gird-icon{
                width: 30px;
                height: 30px;
                display: inline-block;
                background: transparent url('../images/gird-icon.svg') no-repeat center center;
            }
            .paper-landscape-icon{
                width: 30px;
                height: 30px;
                display: inline-block;
                background: transparent url('../images/landscape-icon.svg') no-repeat center center;
            }
            .paper-active {
                background-color: #dfc0e6 !important;
            }
        }
        .pageName {
            width: 300px;
            text-align: center;
        }
        .color-picker{
            -webkit-appearance: none;
            width: 36px;
            height: 0px;
            border:none;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 36px;
            padding: 0;
        }
        .color-picker::-webkit-color-swatch-wrapper {
            padding: 0;
        }
        .color-picker::-webkit-color-swatch {
            border: none;
        } 
        .color-picker::before{
            content: "\f576";
        }

        .size-picker {
            -webkit-appearance: none;
            height: 3px;
            border-radius: 5px;
            background: #a7a7a8;
            outline: none;
            opacity: 0.7;
            transition: opacity .2s;
            width: 200px;
            margin-bottom: 10px;
        }
            
        .size-picker::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 10px;
            height: 15px;
            background: #332ca5;
            cursor: pointer;
        }
          
        .size-picker::-moz-range-thumb {
            width: 10px;
            height: 15px;
            background: #332ca5;
            cursor: pointer;
        }
        
        .toolList{
            position: relative;
            .size-span{
                font-size: 18px;
                display: inline-block;
                width: 35px;
                border: 1px solid #cccccc;
                text-align: center;
                margin-top: 3px;
                height: 26px;
                font-weight: 600;
            }

            ul{
                position: absolute;
                top: 50px;
                left: 2px;
                z-index: 3;
                padding: 0px;
                margin: 0;
                display: none;
                list-style: none;
                background: #f4f4f4;
                border: 1px solid #cccccc;
                li{
                    text-align: center;
                    padding: 5px;
                    &:hover{
                        background: #b0b0b0;
                    }
                }
            }
            &:hover{
                ul{
                    display: block;
                }
            }
        }
    }
    
}
