@import './assets/css/fontawesome.min.scss';
@import './assets/css/brands.min.scss';
@import './assets/css/solid.min.scss';


$brand-color:#ca2eaf;

@import './assets/css/main-menu.scss';


.logo {
  height: 40vmin;
}

.header {
}

.link {
  color: #09d3ac;
}
